<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- 配置全局环境变量 -->
<!-- 校园快递服务端地址 -->
    <context-param>
        <param-name>expressServer</param-name>
        <param-value>127.0.0.1:8081</param-value>
    </context-param>
<!-- 随机壁纸资源位置，若不配置，默认为/res/bg -->
    <context-param>
        <param-name>imageDir</param-name>
        <param-value>/res/bg</param-value>
    </context-param>
    
    
<!--    配置数据库和主服务器的数据库对应 https://github.com/xmexg/express/blob/main/%E5%90%8E%E7%AB%AF/src/main/resources/application.properties -->
    <context-param>
        <param-name>spring.datasource.url</param-name>
        <param-value>jdbc:mysql://124.220.82.47:3306/schoolexpress?characterEncoding=utf-8&amp;serverTimezone=UTC&amp;useSSL=false&amp;nullCatalogMeansCurrent=true</param-value>
    </context-param>
    <context-param>
        <param-name>spring.datasource.username</param-name>
        <param-value>schoolexpress</param-value>
    </context-param>
    <context-param>
        <param-name>spring.datasource.password</param-name>
        <param-value>schoolexpresspassword</param-value>
    </context-param>
    <context-param>
        <param-name>spring.datasource.driverClassName</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>

    <!-- 配置监听器 -->
<!--    日志相关的 -->
    <listener>
        <listener-class>org.looom.wkexpress_web.util.Log4jUtils</listener-class>
    </listener>
<!--    数据库/池 相关的 -->
    <listener>
        <listener-class>org.looom.wkexpress_web.util.MyBatisUtilsBridge</listener-class>
    </listener>
</web-app>
